@font-face {
    font-family: "BenderBlack";
    src: url("../fonts/Bender-Black.otf");
}
@font-face {
    font-family: "BenderBold";
    src: url("../fonts/Bender-Bold.otf");
}
@font-face {
    font-family: "BenderRegular";
    src: url("../fonts/Bender-Regular.otf");
}

body,html {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

#main {
    font-size: 20px;
    font-family: BenderBold, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
    width: 1920px;
    height: 1080px;
    background-color: rgb(10, 4, 65);
    position: relative;
    display: flex;
    flex-direction: column;
}

/* TOP */

#top {
    position: relative;
    top: 0px;
    width: 1920px;
    height: 150px;
    background-repeat: no-repeat;	
    transition: ease-in-out 200ms;
    z-index: 0;
    background-size: cover;
    display: flex;
}

/* Players */

#player {
    display: flex;
    flex-direction: row;
}

#red-player {
    display: flex;
    flex-direction: row;
}

#blue-player {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;

}

.flex-reverse {
    display: flex;
    flex-direction: row-reverse !important;
}

.align-right {
    text-align: right !important;
}

#player-icon img {
    margin: 16px;
    width: 116px;
    height: 116px;
    object-fit: cover;
}

#player-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#player-name {
    font-size: 36px;
    font-family: BenderBlack, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
}

#player-seed {
    font-size: 24px;
    font-family: BenderRegular, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
}

#player-supporters {
    font-size: 24px;
    font-family: BenderRegular, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
}

/* Player MapWins */

/* MIDDLE */

#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Stage section */

#stage-info {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -20px;
}

#stage-name {
    font-size: 24px;
    font-family: BenderBlack, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
}

#winner-loser {
    font-size: 20px;
    font-family: BenderBlack, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
    margin-top: 10px;
}

/* Scoring Section */

#scoring {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1920px;
}

#score-red {
    width: 100%;
}

#score-blue {
    width: 100%;
}

#score-values-red {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
    width: 250px;
}

#score-values-blue {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    gap: 20px;
    width: 600px;
}

#score-now-red, #score-now-blue {
    font-size: 32px;
    font-family: BenderBold, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
}

#score-bar-red,
#score-bar-blue {
    height: 10px;
    margin: 0;
}

#score-bar-red {
    background-color: #DC1F2B;
    width: 250px;
}

#score-bar-blue {
    background-color: #1F55DC;
    width: 600px;
}

#score-now-blue.winning, #score-now-red.winning {
    font-family: BenderBlack, Helvetica, sans-serif;
    font-weight: normal;
    color: #FF962D;
    font-size: 36px !important;}

.winning {
    height: 20px !important;
}

#gameplay {
    width: 1920px;
    height: 720px;
}

#greenscreen {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 255, 0);
}

#orange-line {
    width: 100%;
    height: 10px;
    background-color: #FF962D;
}

#bottom {
    width: 100%;
    height: 200px;
}