@font-face {
    font-family: "BenderBlack";
    src: url("../fonts/Bender-Black.otf");
}
@font-face {
    font-family: "BenderBold";
    src: url("../fonts/Bender-Bold.otf");
}
@font-face {
    font-family: "BenderRegular";
    src: url("../fonts/Bender-Regular.otf");
}

body,html {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

#main {
    font-size: 20px;
    font-family: BenderBold, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
    width: 1920px;
    height: 1080px;
    background-image: url("./img/bg.png");
    position: relative;
    display: flex;
    flex-direction: column;
}

/* TOP */

#top {
    position: relative;
    top: 0px;
    width: 1920px;
    height: 150px;
    background-repeat: no-repeat;	
    transition: ease-in-out 200ms;
    z-index: 0;
    background-size: cover;
    display: flex;
}

/* Players */

#player {
    display: flex;
    flex-direction: row;
}

#red-player {
    display: flex;
    flex-direction: row;
}

#blue-player {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;

}

.flex-reverse {
    display: flex;
    flex-direction: row-reverse !important;
}

.align-right {
    text-align: right !important;
}

#red-player-icon img {
    margin: 16px;
    width: 116px;
    height: 116px;
    object-fit: cover;
    outline: 7px solid #DC1F2B;
    outline-offset: -7px;
}

#blue-player-icon img {
    margin: 16px;
    width: 116px;
    height: 116px;
    object-fit: cover;
    outline: 7px solid #1F55DC;
    outline-offset: -7px;
}

#player-info {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#player-name {
    font-size: 36px;
    font-family: BenderBlack, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
}

#player-seed {
    font-size: 20px;
    font-family: BenderRegular, Helvetica, sans-serif;
    font-weight: normal;
    color: #FF962D;
}

#player-supporters {
    font-size: 20px;
    font-family: BenderRegular, Helvetica, sans-serif;
    font-weight: normal;
    color: #FF962D;
}

#player-pickems {
    font-size: 20px;
    font-family: BenderRegular, Helvetica, sans-serif;
    font-weight: normal;
    color: #FF962D;
}

/* Player MapWins */
#red-maps-won, #blue-maps-won {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 27px;
}

#red-maps-won {
    left: 450px;
}

#blue-maps-won {
    flex-direction: row-reverse !important;
    right: 450px;
}

.map-point {
    width: 46px;
    height: 15px;
    border: 2px solid white;
}

.map-won {
    background-color: #FF962D;
}


/* MIDDLE */

#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Stage section */

#stage-info {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -20px;
}

#stage-name {
    font-size: 24px;
    font-family: BenderBlack, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
}

#winner-loser {
    font-size: 20px;
    font-family: BenderBlack, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
    margin-top: 10px;
}

/* Scoring Section */

#scoring {
    position: absolute;
    left: 50%;
    top: 126px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1920px;
    transition: width 0.5s cubic-bezier(0.77, 0, 0.175, 1), height 0.5s cubic-bezier(0.77, 0, 0.175, 1);

}

#score-red {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    transition: width 0.5s cubic-bezier(0.77, 0, 0.175, 1), height 0.5s cubic-bezier(0.77, 0, 0.175, 1);

}

#score-blue {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    transition: width 0.5s cubic-bezier(0.77, 0, 0.175, 1), height 0.5s cubic-bezier(0.77, 0, 0.175, 1);

}

#score-values-red {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
    min-width: 250px;
    align-items: flex-end;
    bottom: 5px;
}

#score-values-blue {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    gap: 20px;
    min-width: 250px;
    align-items: flex-end;
    bottom: 5px;
}

#score-now-red, #score-now-blue {
    font-size: 32px;
    font-family: BenderBold, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
}

#score-bar-red,
#score-bar-blue {
    height: 10px;
    margin: 0;
    transition: width 0.5s cubic-bezier(0.77, 0, 0.175, 1), height 0.5s cubic-bezier(0.77, 0, 0.175, 1);

}

#score-bar-red {
    background-color: #DC1F2B;
}

#score-bar-blue {
    background-color: #1F55DC;
}

#score-now-blue.winning, #score-now-red.winning {
    font-family: BenderBlack, Helvetica, sans-serif;
    font-weight: normal;
    color: #FF962D;
    font-size: 36px !important;
}

#score-bar-red.winning, #score-bar-blue.winning {
    position: relative;
    height: 20px !important;
    bottom: 6px;
    transition: width 0.5s cubic-bezier(0.77, 0, 0.175, 1), height 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

#score-difference-red, #score-difference-blue {
    font-size: 24px;
    font-family: BenderRegular, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
    position: relative;
    top: -5px;
    transition: width 0.5s cubic-bezier(0.77, 0, 0.175, 1), height 0.5s cubic-bezier(0.77, 0, 0.175, 1);

}   

#gameplay {
    width: 1920px;
    height: 720px;
}

#greenscreen {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 255, 0);
}

#orange-line {
    width: 100%;
    height: 10px;
    background-color: #FF962D;
}

#bottom {
    width: 100%;
    height: 200px;
}

#ndc-logo img {
    width: 275px;
    height: 137px;
    padding-top: 37px;
    padding-left: 64px;
}

#current-map {
    width: 930px;
    height: 137px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}